/*
#4D505B
#CF4858
#16A79D
#80628B
#F4AC42
*/

html, body {
    padding: 0;
    margin: 0;
}


#contentWrap {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #4D505B;
}

/*
*   To center it. Margin-left in vw needs to be 50vw-(width/2)
*/

#chatWrap {
    float: left;
    height: auto;
    width: 50vw;
    margin-left: 25vw;
}

#chat {
    float:left;
    height: 70vh;
    width: 49vw;
    overflow: auto;
    background-color: white;
    color: #16A79D;
    padding-top: 2px;
    padding-left: 2px;
    border: 1vw solid #80628B;
    border-radius: 5px;
    word-wrap: break-word;
}

#users {
    float: left;
    width: 10vw;
    height: 70vh;
    padding-top: 2px;
    padding-left: 2px;
    background-color: white;
    border: 1vw solid #80628B;
    border-radius: 5px;
    color: #16A79D;
}

.error {
    color: #CF4858;
}

.whisper {
    color: #4D505B;
    font-style: italic;
}

/* form size is chat area + borders */
#send-message {
    width: 62vw;
}

#message {
   /* positioning */
    width: 49vw;
    margin-top: 1vh;
    padding-left: 2px;
    margin-left: 5px;
    /* styling */
    font-family: 'Exo', sans-serif;
    font-size: 1em;
    color: #16A79D;
    background-color: white;
    border-radius: 2px;
    border: none;
}

#sendButton {
    font-family: 'Exo', sans-serif;
    color: white;
    background-color: #80628B;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    width: 10vw;
}

#sendButton:hover {
    background-color: #80629B;
}

.help {
    color: #16A79D;
}
