/*
#4D505B
#CF4858
#16A79D
#80628B
#F4AC42
*/

html, body {
    padding: 0;
    margin: 0;
}


#contentWrap {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #4D505B;
}

/*
*   To center it. Margin-left in vw needs to be 50vw-(width/2)
*/

#chatWrap {
    float: left;
    height: auto;
    width: 50vw;
    margin-left: 25vw;
}

#chat {
    height: 70vh;
    width: 50vw;
    overflow: auto;
    background-color: white;
    color: #16A79D;
    padding-top: 2px;
    padding-left: 2px;
}

#users {
    float: right;
}

.error {
    color: #CF4858;
}

.whisper {
    color: #4D505B;
    font-style: italic;
}
